@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-epagri-dark: #086730;
  --color-epagri-green: #03853D;
  --color-epagri-light: #03853D;
  --color-epagri-olive: #A6CE39;
  --color-epagri-red: #ED1C24;
}

@layer base {
  body {
    @apply font-sans antialiased text-slate-900 bg-slate-50;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

